{
    "env" : {
        "es6": true,        // We are writing ES6 code
        "browser": true,    // for the browser
        "commonjs": true    // and use require() for stylesheets
    },
    "ecmaFeatures": {
        "modules": true
    },
    "plugins": [
      "html"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    
    "rules":{
        "no-console":0
    }
}
