body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.red {
  background-color: red;
}

.green {
  background-color: green;
}

.border {
  border: blue 1px solid;
}

.back {
  background-color: red;
}

